body{ 
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
 }

html{
  background-color: #DCE2FF;
}

div.sDatos{
    text-align:right;
    font: 20px Tahoma, sans-serif;
    line-height: 1.8;
    width: 600px;
    height: 600px;
    color:black;
}

li {
	font-size: 20px;
  	padding: 10px;
 	 overflow: auto;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 2px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 300px; height: 30px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #6B8CFF; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 25px;
  left: 10px;
}

a.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

