<!-- nav.html -->
<nav class="navbar navbar-inverse">
     <div class="container-fluid">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" 
                 data-toggle="collapse" data-target="#myNavbar">
                 <span class="icon-bar"></span> 
                 <span class="icon-bar"></span> 
                 <span class="icon-bar"></span>
             </button>
             <img src="/img/student-48.png" alt="logo" />
         </div>
         <div class="collapse navbar-collapse" id="myNavbar"  >
             <ul class="nav navbar-nav navbar-right">
                 <li>
                     <a href="/login">
                         <span class="glyphicon glyphicon-log-in"></span>
                         Identificate
                     </a>
                 </li>
                 <li>
                     <a href="/logout" >
                         <span class="glyphicon glyphicon-log-out"></span>
                         Desconectar
                     </a>
                 </li>
             </ul>
         </div>
     </div>
 </nav>
