<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2>Incidencia procesada</h2>

		<form method="POST" action="resendIncident">
		
			
				<ul>
				<li th:text="${'Nombre de la incidencia:' + incidence.name}"></li>
				<li th:text="${'Descripción:' + incidence.description}"></li>
				<li th:text="${'Localización:' + incidence.location}"></li>
				<li th:text="${'Etiquetas:' + incidence.tags}"></li>
				<li th:text="${'Información adicional:' + incidence.additionalInformation}"></li>
				<li th:text="${'Propiedades:' + incidence.properties}"></li>
				<li th:text="${'Estado:' + incidence.state}"></li>
				<li th:text="${'Notificación:' + incidence.notification}"></li>
				<li th:text="${'Fecha de expiration:' + incidence.expiration}"></li>
				<li th:text="${'Asignada a:' + incidence.assignedTo}"></li>
			</ul>

			<div class="panel panel-default">
				<div class="panel-heading">Nombre de la incidencia</div>
				<div class="panel-body" th:text="${incidence.name}"></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Descripción</div>
				<div class="panel-body" th:text="${incidence.description}"></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Nombre de la incidencia:</div>
				<div class="panel-body" th:text="${incidence.name}"></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Nombre de la incidencia:</div>
				<div class="panel-body" th:text="${incidence.name}"></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Nombre de la incidencia:</div>
				<div class="panel-body" th:text="${incidence.name}"></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Nombre de la incidencia:</div>
				<div class="panel-body" th:text="${incidence.name}"></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Nombre de la incidencia:</div>
				<div class="panel-body" th:text="${incidence.name}"></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Nombre de la incidencia:</div>
				<div class="panel-body" th:text="${incidence.name}"></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Nombre de la incidencia:</div>
				<div class="panel-body" th:text="${incidence.name}"></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Nombre de la incidencia:</div>
				<div class="panel-body" th:text="${incidence.name}"></div>
			</div>


			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Enviar otra
				incidencia</button>
				</div>
			</div>
		
		
		
		
				
		
		
		
		
		
		
		
		
		
		



		</form>

	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>