<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img src="/img/student-48.png" alt="logo" />
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="btnDesconectar" href="/logout"> <span
							class="glyphicon glyphicon-log-out"></span> Desconectar
					</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<h2>Datos de la incidencia</h2>

		<form class="form-horizontal" method="post" action="/sendIncident">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Nombre de
					la incidencia:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name"
						placeholder="inc_GHKB" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description">Descripcion:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="description"
						placeholder="Nueva lectura de humedad" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="location">Localizacion: (*)Se puede dejar vacio</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="location"
						placeholder="24,5" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="tags">Etiquetas:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="tags"
						placeholder="Nieve,Fuego,Niebla" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="additionalInformation">Informacion
					adicional:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						name="additionalInformation"
						placeholder="http://puntoverdeleon.com.mx/imagen-de-prueba-320x240.jpg"
						required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="properties">Propiedades:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="properties"
						placeholder="p0:v0,p1:v1,p2:v2" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="state">Estado:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="state"
						placeholder="Abierta" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="notification">Notificaciones:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="notification"
						placeholder="Si" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="expiration">Caducidad:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="expiration"
						placeholder="2018-10-25 10:02:29.769579" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="assignedTo">Asignada:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="assignedTo"
						placeholder="oper_rUxl" required="true" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" name="btn">Enviar</button>
				</div>
			</div>
		</form>

	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>
