<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img src="/img/student-48.png" alt="logo" />
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="btnIdent" href="/login"> <span
							class="glyphicon glyphicon-log-in"></span> Identificate
					</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" style="text-align: center">
		<h2>Bienvenidos a la pagina principal</h2>
		<p>Gestion y carga de incidencias.</p>
	</div>

	<footer th:replace="fragments/footer" />

</body>
</html>